.container {
    background-color: white;
    height: 800px;
    width: auto;
    padding-top: 70px;
    font-size: 3vmin;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;

}