.messages-page {
    background-color:#F3F3F3;
    height: 1000px;
    width: auto;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.message-header {
    margin-left: 100px;
    letter-spacing: 2px;
}
